.lab3_field {
  width: 100% !important;
  height: 100%;
  margin: 0 !important;

  .grid_item {
    height: inherit;

    .leftPanel {
      height: inherit;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        width: 100%;
        height: 100%;

        > svg {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .rightPanel {
      height: inherit;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .text_field {
        width: calc(100% - 2 * 10px);
        margin-top: 10px;
      }

      .button {
        margin-top: 15px;
        width: 50%;
        height: 50px;
        margin-bottom: 15px;
      }

    }
  }
}


.field {
  width: 100%;
  height: 100%;
  margin: 25px;

  display: flex;
  justify-content: center;
  align-items: center;


  .column {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    &:first-child {
      margin-left: 25px;
    }

    &:last-child {
      margin-right: 25px;
    }

    .free, .queen {
      width: auto;
      height: -webkit-fill-available;
      background: grey;
      box-sizing: border-box;
      border: 1px solid whitesmoke;
    }

    .free {
      background: white;
    }
  }

}
