.lab1_field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftPanel {
    width: 80%;
    height: 100%;
    margin-right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightPanel {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    display: block;

    .leftPanel {
      width: auto;
      min-height: 500px;
      margin-bottom: 0;
      margin-right: 25px;
    }

    .rightPanel {
      width: auto;
      height: auto;
      margin-bottom: 25px;
      padding-bottom: 25px;
      margin-right: 25px;
    }
  }
}


.field {
  width: 100%;
  height: 100%;
  margin: 25px;

  display: flex;
  justify-content: center;
  align-items: center;


  .column {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    &:first-child {
      margin-left: 25px;
    }

    &:last-child {
      margin-right: 25px;
    }

    .free, .queen {
      width: auto;
      height: -webkit-fill-available;
      background: grey;
      box-sizing: border-box;
      border: 1px solid whitesmoke;
    }

    .free {
      background: white;
    }
  }

}

.graph {
  position: relative;
  cursor: default;
  width: 1000px;
  height: 500px;
}
