.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 32px;
  background: #b0b0b0;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .link {
    height: 80%;
    margin-left: 5px;
    padding: 0 5px;
    -webkit-app-region: no-drag;

    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(84, 114, 130, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: black;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    &[aria-disabled=true] {
      background: rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.5);
      cursor: default;
    }
  }
}

